@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Love+Light&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
html {
  font-family: "Inter", sans-serif;
}
body {
  height: fit-content;
  width: 100%;
  background-color: #ffffff;
  /* padding: 10px; */
}
/**************** Animation(JS) styling ****************/
.animated-div {
  transition: transform 1s, opacity 1s;
}
.div--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
/******** Header styling*********/
header {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* margin-bottom: 25px; */
}

nav {
  height: fit-content;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 30rem;
  height: fit-content;
}
nav > ul > li {
  font-size: 16px;
}
.action-btns > button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  height: fit-content;
  width: fit-content;
  border-radius: 30px;
  padding: 8px;
  color: #ffffff;
  cursor: pointer;
}
.action-btns > button:nth-child(1) {
  color: #1a1a1a;
  background-color: #ffffff;
  border: 1px solid #f3f3f3;
}
.action-btns > button:nth-child(2) {
  background-color: #00d47d;
}

/************** Main Stying **************/
main {
  height: fit-content;
  width: 100%;
  /* padding: 20px; */
  margin-top: -15px;
}

/******** Hero Section or about us Styling*********/
.hero-section-container {
  padding: 0px 20px 20px 20px;
}
.hero-section {
  height: 50rem;
  background-image: url(/assets/images/main-img2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 7rem;
  margin: auto;
  width: 100%;
  margin-top: 15px;
  /* width: 98%; */
}
.preview {
  height: fit-content;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 100px; */
}
.briefing {
  width: 40rem;
}
.briefing > p:nth-child(1) {
  color: #e9e9e4;
  font-size: 15px;
  margin-bottom: 40px;
}
.briefing > h1 {
  font-size: 100px;
  font-weight: 400;
  line-height: 100px;
  margin-bottom: 40px;
  /* color: #f3f3f3; */

  background: -webkit-linear-gradient(#f5f5f1, #c6c4c5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.action-links {
  width: 35%;
  display: flex;
  justify-content: space-between;
}
.action-links > p > a {
  color: #fefef9;
  font-size: 15px;
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-thickness: 2px;
}
.recent-project-card {
  height: 20rem;
  width: 18rem;
  border-radius: 16px;
  padding: 10px;
  margin-right: 100px;
  margin-top: -150px;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(5px);

  /* background-color: rgb(241, 241, 241, 0.3); */
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  /* border-radius: 15px; */
}
.recent-project-card-img {
  height: 13rem;
  width: 12rem;
  border-radius: 10px;
  margin-bottom: 40px;
}
.recent-project-card > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  width: 16.5rem;
}
.icon-div {
  width: 2.8rem;
  height: 2.8rem;
  border: 1px solid #9c9185;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60rem;
  margin-top: 3px;
}
.icon-div > img {
  width: 25px;
  height: 25px;
  transform: rotate(50deg);
}
.recent-project-action-btn {
  width: 8rem;
}
.recent-project-action-btn > P {
  height: 100%;
  line-height: 25px;
  color: #e9e9e4;
  font-size: 16px;
}

aside {
  width: 50%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 40px 0px 0px 0px;
}
aside > div {
  width: 15rem;
}
aside > div > h1 {
  font-size: 50px;
  font-weight: 500;
}
aside > div > p {
  width: 10rem;
  line-height: 25px;
  color: #474747;
}
.mission-statement-container {
  width: 100%;
  padding: 0px 100px 0px 100px;
  height: 37rem;
  margin-top: 7rem;
}
.mission-statement {
  display: flex;
  justify-content: space-around;
}
.mission-statement > h2 {
  width: 40rem;
  font-size: 50px;
  font-weight: 400;
  color: #0d0d0d;
}
.mission-statement > h2 > span {
  color: #8f9698;
}
.mission-statement > p {
  width: 38rem;
  font-size: 20px;
  align-content: center;
  color: #5a5c61;
  margin-bottom: 150px;
}
.business-partners {
  display: flex;
  margin: auto;
}
.business-partners > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 16rem;
  background-color: #f2f4f3;
  border-radius: 50%;
  border: 1px solid #f2f4f3;
}

/*************** Features styling ***************/
.features {
  background-color: #f2f4f3;
  height: fit-content;
  padding: 100px 100px 150px 100px;
}
.features > h2 {
  width: 40rem;
  font-size: 50px;
  font-weight: 400;
  color: #0d0d0d;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
}
.features > h2 > span {
  color: #8f9698;
}
.features > div {
  display: flex;
  height: fit-content;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.features > div > div {
  height: 14rem;
  width: 27.6rem;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  padding: 45px;
  color: #1a1a1a;
}
.img-container {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 4px 10px 7px #f6f5f8;
}
.img-container > img {
  width: 25px;
  height: 25px;
}

.features > div > div {
  height: fit-content;
}
.features > div > div h3 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}
.features > div > div p {
  font-size: 16px;
  color: #474747;
}
.features > div > div:nth-child(1) {
  border-radius: 10px 0px 0px 0px;
  border-bottom: 0px;
  border-right: 0px;
}
.features > div > div:nth-child(2) {
  border-bottom: 0px;
  border-right: 0px;
}
.features > div > div:nth-child(3) {
  border-radius: 0px 10px 0px 0px;
  border-bottom: 0px;
}
.features > div > div:nth-child(4) {
  border-radius: 0px 0px 0px 10px;
  border-right: 0px;
}
.features > div > div:nth-child(5) {
  border-right: 0px;
}
.features > div > div:nth-child(6) {
  border-radius: 0px 0px 10px 0px;
}

/*************** Services styling ***************/
.services-section {
  width: 100%;
  background-color: #ffffff;
  height: fit-content;
  padding: 120px 70px 70px 70px;
}
.main-services-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 48.5rem;
  margin: auto;
  margin-bottom: 8rem;
}
.services {
  width: 50%;
}
.services > h2 {
  font-size: 50px;
  font-weight: 400;
  color: #0d0d0d;
  margin-top: 10px;
  margin-bottom: 25px;
}
.services > h2 > span {
  color: #8f9698;
}
.services > button {
  width: 9rem;
  height: 3.2rem;
  padding: 10px;
  border-radius: 30px;
  color: #ffffff;
  cursor: pointer;
  background-color: #00d47d;
  font-size: 14px;
  margin-bottom: 10.3rem;
}
.services-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 35rem;
}
.services-list > div {
  width: 17rem;
  height: 12rem;
  padding: 18px;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
}
.services-list > div:nth-child(1) {
  margin-bottom: 16px;
}
.services-list > div:nth-child(2) {
  margin-bottom: 16px;
}
.services-list > div > h2 {
  margin-bottom: 12px;
  font-size: 25px;
  font-weight: 400;
  color: #757575;
}
.services-list > div > p {
  margin-bottom: 12px;
  font-size: 25px;
  color: #0d0d0d;
}
.services-list > div > a {
  color: #0d0d0d;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}
.services-img-container {
  height: 100%;
}
.services-img-container > img {
  height: 100%;
  border-radius: 20px;
}

/******* testimonials-section styling & slider *******/
.testimonials-section {
  height: fit-content;
  padding-bottom: 50px;
  /* width: ; */
  /* height: 30rem; */
}
.testimonials-section > h2 {
  text-align: center;
  margin: auto;
  font-size: 50px;
  font-weight: 400;
  color: #0d0d0d;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 35rem;
}
.testimonials-section > h2 span {
  color: #8f9698;
}
.slider-component-container {
  background-color: #f2f4f3;
  display: flex;
  justify-content: space-between;
  width: 93%;
  margin: auto;
  border-radius: 20px;
  /* height: 48.5rem; */
  /* margin-bottom: 8rem; */
}
.slide-1 {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  padding: 10px;
  /* height: 25rem; */
}
.slide-1 > div:nth-child(1) {
  width: 55%;
  padding: 40px;
}
.slide-1 > div:nth-child(1) > h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}
.slide-1 > div:nth-child(1) > blockquote {
  font-size: 18px;
  line-height: 30px;
  width: 90%;
  margin-bottom: 25px;
}
.slide-1 > div:nth-child(1) > button {
  width: 9rem;
  height: 3.2rem;
  padding: 10px;
  border-radius: 30px;
  color: #ffffff;
  cursor: pointer;
  background-color: #00d47d;
  font-size: 14px;
  margin-bottom: 5rem;
}
.slide-1 > div:nth-child(1) > p {
  font-size: 18px;
  font-weight: 600;
}
.slide-1 > div:nth-child(1) > p > span {
  font-size: 18px;
  font-weight: 500;
  color: #727474;
}
.slider-image-container {
  height: 100%;
  width: 45%;
}
.slider-image-container > img {
  height: 30rem;
  width: 100%;
  border-radius: 20px;
}

/********************* Footer styling *********************/
footer {
  width: 100%;
  height: 38rem;
  background-color: #010101;
  padding: 130px 30px 0px 30px;
  color: #ffffff;
}
.main-footer-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  margin-bottom: 60px;
}
.main-footer-container > div:nth-child(1) {
  width: 55%;
}
.main-footer-container > div:nth-child(1) h2 {
  width: 45rem;
  font-size: 45px;
  font-weight: 450;
  line-height: 55px;
  margin-bottom: 35px;
}
.main-footer-container > div:nth-child(1) h2 > span {
  color: #94989e;
  /* color: #b9bbbb; */
  /* color: #9c9e9e; */
}
.main-footer-container > div:nth-child(2) {
  width: 40%;
}
.xoxo > div {
  display: flex;
  width: 40rem;
  justify-content: space-between;
}
.xoxo > div > p {
  width: fit-content;
  display: flex;
  align-items: center;
}
.footer-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.quick-briefing-div > p {
  width: 28rem;
  line-height: 28px;
  margin-bottom: 25px;
}

.quick-briefing-div > button {
  width: 9rem;
  height: 3.2rem;
  padding: 10px;
  border-radius: 30px;
  color: #010101;
  cursor: pointer;
  background-color: #ffffff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow-footer-icon {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  margin-left: 5px;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 30px 0px 30px 0px;
  align-items: center;
}
.nav-links > .name {
  width: 30%;
}
.nav-links > nav {
  width: 40%;
}
.nav-links > nav > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.social-links-container {
  width: 30%;
  display: flex;
  justify-content: end;
}
.social-links-container > div {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.social-links-container > div > span {
  background-color: #3e3e3e;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .social-links-container > span {
  background-color: ;
} */
hr {
  margin-top: 20px;
  background-color: #282828;
  height: 1px;
  width: 90%;
  margin: auto;
  margin-bottom: 60px;
}
.copyright-div {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.copyright-div > span {
  width: 15.5rem;
  display: flex;
  justify-content: space-between;
}
.copyright-div > span > p {
  width: fit-content;
}
